Samples/TextStyle/TextStyleDemo.Native.Droid/obj
Samples/TextStyle/TextStyleDemo.Native.iOS/bin
Samples/TextStyle/TextStyleDemo.Native.iOS/obj
Src/Color/Styles.Color.Droid/obj
Tests/SharedColorTests/bin
Src/Shared/Styles.Shared/obj
Tests/SharedColorTests/obj
Src/Shared/Styles.Shared/bin
Src/Shared/Styles.iOS/obj
Src/Color/Styles.Color.Droid/bin
Src/Color/Styles.Color.iOS/bin
Src/Color/Styles.Color.iOS/obj
Src/Color/Styles.Color.Shared/bin
Src/Color/Styles.Color.Shared/obj
Src/Shared/Styles.Droid/bin
Src/Shared/Styles.Droid/obj
Src/Shared/Styles.iOS/bin
Samples/ColorStyle/ColorStyleDemo.iOS/bin
Samples/ColorStyle/ColorStyleDemo.iOS/obj
Samples/TextStyle/TextStyleDemo.Native.Droid/bin
*.userprefs
Samples/Text/NativeTextDemo/Droid/bin
Samples/Text/NativeTextDemo/Droid/obj
Samples/Text/NativeTextDemo/iOS/obj
Samples/Text/NativeTextDemo/NativeTextDemo.iOS/bin
Samples/Text/NativeTextDemo/NativeTextDemo.iOS/obj
Samples/Text/NativeTextDemo/NativeTextDemo/bin
Samples/Text/NativeTextDemo/NativeTextDemo/obj
