/* Swatches */
swatches{
	--default-text-color: #464646;
	--color-stop1: #00CACD;
	--color-stop2: #00A548;
}

/* Gradients */
gradients{
	--gradient-linear-test: linear-gradient(-90, color-stop1, color-stop2);
	--gradient-radial-test: radial-gradient(color-stop1 20%, color-stop2 60%);	
}


/* Text Styles */
h1{
	font-family    		: "Avenir-Medium";
	font-size        	: 38px;
	text-overflow		: "ellipsis";
	text-align			: "center";
	lines				: 0;
	color				: #000000;
	line-height			: 36px;
	letter-spacing		: 0;
}

h2{
	font-family    		: "Avenir-Medium";
	font-size        	: 16;
	text-overflow		: "ellipsis";
	text-align			: "center";
	text-transform		: "uppercase";
	color            	: var(--default-text-color);
}

body{
	font-family      	: "Avenir-Book";
	font-size        	: 14;
	text-align			: "center";
	color            	: var(--default-text-color);
}

swatch{
	font-family    		: "Avenir-Book";
	font-size        	: 8;
	lines				: 0;
	text-align			: "center";
	text-transform		: "uppercase";
	color				: #ffffff;
}
